@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

body {
    min-height: 100vh;
}

#titleParent {
    position: relative;
    min-height: 100vh;
    z-index: 1000;
    background: transparent;
    pointer-events: none;
}

#mainTitle {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-shadow: 3px 3px 0 #000,
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    pointer-events: none;
    transition: all 400ms cubic-bezier(.87,-.41,.19,1.44);
}

#mainTitle.top {
    top: 30px;
}

.quad {
    width: 50vw;
    height: 50vh;
    position: absolute;
    transition: all 400ms;
    z-index: 1;
}

.quad.open {
    width: 100%;
    height: 100%;
    z-index: 999;
}

.quad.tl {
    background-image: url('../img/bgTL.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

.quad.tr {
    background-image: url('../img/bgTR.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
}

.quad.bl {
    background-image: url('../img/bgBL.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
}

.quad.br {
    background-image: url('../img/bgBR.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

a.expandLink {
    text-align: center;
    color: #000;
    font-size: 24px;
    padding: 15px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: all 250ms cubic-bezier(.87,-.41,.19,1.44);
}

.expandLink > i {
    font-size: 36px;
}


.quad.tl a.expandLink:hover, .quad.br a.expandLink:hover {
    transform: scale(1.5,1.5) rotate(-10deg);
}

.quad.tr a.expandLink:hover, .quad.bl a.expandLink:hover {
    transform: scale(1.5,1.5) rotate(10deg);
}